.header{
    position:fixed;
    background:purple;
    top:0;
    left:0;
    right:0;
    z-index:100;
    padding:15 25;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-element{
    list-style: none;
    display: inline-block;
}

div.menu{display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner{
    margin:52px;
    padding: 15px;
}

.banner-text{
    text-align: center;
    color: goldenrod;
}

.container{
    max-width: 1140px;
    padding:0 15px;
    margin:0 auto;
}

.section-banner{
    background: url(img/floor-1256804_1280.jpg);
    background-size: cover;
}

*{margin:0;
 padding:0;
 font-family: 'Source Code Pro', monospace;
}

 .menu-logo-container{
display: flex;
align-items: flex-start;
}
.three-pictures{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.onepicture{width:270px;
height:200px;
border:7px solid green;
opacity: 1;
z-index: 10;
position: relative;}

.aqua{height: 200px;
width:270px;
border:7px solid green;
opacity: 0.5;
z-index: 2;
position: absolute;
}

.story_container{
    padding: 20px;
    border: 10px seagreen solid;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: blanchedalmond;
    box-shadow: 20px -15px 20px black;
}

.story_header{
    text-align: center;
    padding:20px;
}

.story{
    padding: 20px;
    justify-content: center;

}

.story_source{
    text-align: right;
}

.V.line{
    width: 1px;
    height: 193px;
    border: 1px seagreen;
}

footer{
    background-image: url(img/Black\ brick\ wall.png)
}

.text-footer{
    padding: 20px;
    text-align: end;
    color: whitesmoke;
    background-size: 100% 300px;
    display: inline;
}

.vklogo{
    border: 1px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.footer_items{
    padding: 10px;
}

.site_by{
    display: inline;
}